.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    /* max-width: 190px; */
    width: 100%;
  }
  
  .input {
    width: 70%;
    height: 50px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 30px;
    outline: none;
    background-color: #E4DFDF;
    color: #0d0c22;
    transition: 0.3s ease;
  }
  
  .input::placeholder {
    color: #9e9ea7;
  }
  
  .input:focus,
  input:hover {
    outline: none;
    border-color: rgba(247, 127, 0, 0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(247 127 0 / 10%);
  }
  
  .icon {
    position: absolute;
    left: 1rem;
    /* fill: #9e9ea7; */
    width: 1rem;
    height: 1rem;
  }
  .simple-container{
    height: 600px;
    overflow-y: auto;
    max-width: 80%;
  }
  .simple-container::-webkit-scrollbar {
    width: 5px;
  }
  
  .simple-container::-webkit-scrollbar-track {
    /* background-color: darkgrey; */
    border-radius: 50px;
  }
  
  .simple-container::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background: #D9D9D9;
    /* background-color: transparent; */
    border-radius: 50px;
  }
  .result p{
    color: #000;
    font-weight: 600;
    text-align: left;
  }
  